.footer{
    width: 100%;
    display: block;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(247, 247, 247, 1);

    h1{
        font-family: "Raleway",serif;
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        color: rgba(8, 166, 228, 1);
        position: relative;
        top: 18px;
        
    }

    p{
        font-family: "Open Sans",serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 14.98px;
        color: rgba(165, 165, 165, 1);
        position: relative;
        
    }

    img{
        position: relative;
        left: 65%;
        top: -40px;
        padding-left: 20px;
    }
}