.info{
    width: 100%;
    background-color: rgba(247, 247, 247, 1);
    display:inline-block;

    .info1{
        display: block;
        border-radius: 5px;
        border: 1px grey;
        background-color: rgba(255, 255, 255, 1);
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        hr{
            display: none;
        }

        .img4{
            position: relative;
            left: calc(50% - 100px);
        }

        .textinfo1{
            font-family: "Raleway",serif;
            font-weight: 400;
            font-size: 30px;
            line-height: 35.22px;
            color: rgba(0, 0, 0, 1);
            height: 72px;
            width: 100%;
            margin-left: 10%;
        }

        .boxinfo1{
            width: 90.12px;
            height: 90.12px;
            transform: rotate(45deg);
            border-radius: 41px;
            background-color: rgba(251, 59, 100, 1);
            position: relative;
            left: 55%;
            top: 60px;
        }

        .textinfo12{
            font-family: "Open Sans",serif;
            font-weight: 400;
            size: 14px;
            line-height: 21px;
            width: 80%;
            margin-left: 10%;
            padding-bottom: 40px;
        }
    }

    .info2{
        display: block;
        border-radius: 5px;
        border: 1px grey;
        background-color: rgba(255, 255, 255, 1);
        width: 80%;
        margin-left: 10%;

        .img5{
            position: relative;
            left: 33%;
            bottom: 80px;
        }

        
        .boxinfo2{
            width: 131.88px;
            height: 131.7px;
            border-radius: 50%;
            background-color: rgba(8, 166, 228, 1);
            position: relative;
            left: calc(50% - 65px);
            top: 50px;
        }
        
        .textinfo2{
            font-family: "Raleway",serif;
            font-weight: 400;
            font-size: 30px;
            line-height: 35.22px;
            color: rgba(0, 0, 0, 1);
            height: 72px;
            margin-left: 10%;
            width: 60%;
        }


        .textinfo22{
            font-family: "Open Sans",serif;
            font-weight: 400;
            size: 14px;
            line-height: 19px;
            width: 80%;
            margin-left: 10%;
            padding-bottom: 40px;
        }

        hr{
            display: none;
        }
    }

    .info3{
        display: block;
        border-radius: 5px;
        border: 1px grey;
        background-color: rgba(255, 255, 255, 1);
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;

        .boxinfo3{
            
            background-color: rgba(85, 223, 180, 1);
            border: 1px solid rgba(232, 233, 237, 1);
            border-radius: 5px;
        .img6{
            //position: relative;
            width: 80%;
            height: 70%;
            margin-top: 40px;
            //padding-top: 40px;
        }
    }
        .textinfo3{
            font-family: "Raleway",serif;
            font-weight: 400;
            font-size: 30px;
            line-height: 35.22px;
            color: rgba(0, 0, 0, 1);
            width: 60%;
            margin-left: 10%;
            padding-top: 10%;
        }

        .textinfo32{
            font-family: "Open Sans",serif;
            font-weight: 400;
            size: 16px;
            line-height: 21.79px;
            margin-left: 10%;
        }

        hr{
            display: none;
        }
    }
}

@media  (min-width:1200px){
    
    .info{
        
        
        .info1{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 50px;
            .info11{
                width: 50%;
            }

            .info12{
                width: 50%;
                
                hr{
                    border: 4px solid rgba(251, 59, 100, 1);
                    width: 60%;
                    position: relative;
                    top: -80px;
                    left: -45px;
                    display: block;
                }
            }
            .textinfo1{
                
                padding-top: 70px;
                
            }

            .img4{
                
                width: 386px;
                height: 219px;
                position: relative;
                bottom: 50px;
                left: 20px;
                
                
            }

            .textinfo12{
                
                position: relative;
                bottom: 50px;
            }

            .boxinfo1{
                
                width: 180px;
                height: 180px;
                
                position: relative;
                top: 80px;
                left: 240px;
                
            }
            
        }

        .info2{
            display: grid;
            height: 400px;
            .boxinfo2{
                position: relative;
                left: 50px;
                height: 300px;
                width: 300px;
                border-radius: 100%;
            }

            .textinfo2{
                position: relative;
                left: 350px;
                top: -450px;

            }

            .textinfo22{
                position: relative;
                left: 360px;
                top: -500px;
                width: 50%;

            }

            .img5{
                position: relative;
                left: 50px;
                top: -200px;
                height: 250px;

            }
            hr{
                border: 4px solid rgba(8, 166, 228, 1);
                width: 400px;
                position: relative;
                top: -520px;
                left: 180px;
                left: 180px;
                display: block;
            }

            
        }

        .info3{
            display: flex;
            margin-top: 30px;
            gap: 50px;
            justify-content: space-between;
            height: 352px;

            #divInfo3{
                width: 50%;
                hr{
                    border: 4px solid rgba(85, 223, 180, 1);
                    width: 60%;
                    position: relative;
                    left: -10%;
                    top: 40px;
                    display: block;
                }
            }

            .info32{
                width: 40%;
                
                border-left: 80px rgba(247, 247, 247, 1) solid;
            }
            .textinfo3{
                position: relative;
                width: 70%;

            }

            .textinfo32{
                position: relative;
                
            }
            .boxinfo3{
                    position: relative;
                    display: flex;
                    height: 100%;
            .boxinfo3{
                display: flex;
                position: relative;
                width: 100%;
                height: 350px;
                align-items: center;
            
                align-items: center;
                justify-content: center;
            

            .img6{
                position:relative;
                height: 100%;
                margin-top: 20px;

            }
        }
                margin-left: 0;
            }
        }
        }
    }

