.pricing{
    .h1pricing{
        padding-top: 20px;
        text-align: center;
    h1{
        font-family: "Raleway",serif;
        font-weight: 400;
        size: 36px;
        line-height: 42.26px;
        color: rgba(0, 0, 0, 1);
        
        
    }

    select{
        width: 100px;
        height: 40px;
        text-align: center;
        border-radius: 5px;
        border: 3px solid rgba(7, 172, 230, 1);
        margin-bottom: 20px;
    }
}

    .pricing1{
        display: inline-block;
        width: 80%;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(251, 59, 100, 1);
        border-radius: 18px;
        margin-left: 10%;
        position: relative;
        margin-bottom: 70px;

        .textpricing1{
            font-family: "Raleway",serif;
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            color: rgba(19, 37, 59, 1);
            position: relative;
            margin-left: 50px;
            margin-top: 80px;
        }

        .textpricing12{
            font-family: "Open Sans",serif;
            font-weight: 300;
            font-size: 30px;
            line-height: 64px;
            color: rgba(251, 59, 100, 1);
            margin-left: 50px;
            margin-top: -20px;
            
        }

        .textpricing13{
            font-family: "Raleway",serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 14.09px;
            color: rgba(19, 37, 59, 1);
            margin-left: 50px;
            margin-top: -30px;
            padding-bottom: 50px;
            visibility: hidden;
            
        }

        ul{
            list-style-type: none;
            position: absolute;
            left: 55%;
            top: 10px;
            display: block;
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            li{
                margin-top: 20px;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }

            img{
                margin-right: 5px;
                width: 10px;
                height: 10px;
            }

        }



        .buttonpricing1{
            border-radius: 23px;
            background-color: rgba(235, 71, 110, 1);
            height: 50px;
            width: 150px;
            text-align: center;
            margin-bottom: -25px;
            margin-left: 30%;
            
            .begin1{
                padding-top: 15px;
                color:  rgba(255, 255, 255, 1);
                
            }
        }
    }

    .pricing2{

        display: inline-block;
        width: 80%;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(7, 172, 230, 1);
        border-radius: 18px;
        margin-left: 10%;
        position: relative;
        margin-bottom: 70px;
        

        .textpricing2{
            font-family: "Raleway",serif;
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            color: rgba(19, 37, 59, 1);
            margin-left: 50px;
            margin-top: 100px;
        }

        .textpricing22{
            font-family: "Open Sans",serif;
            font-weight: 300;
            font-size: 30px;;
            line-height: 64px;
            color: rgba(7, 172, 230, 1);
            margin-left: 50px;
            margin-top: -20px;
        }

        .textpricing23{
            font-family: "Raleway",serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 14.09px;
            color: rgba(19, 37, 59, 1);
            margin-left: 50px;
            margin-top: -30px;
            padding-bottom: 50px;
            
        }

        ul{
            list-style-type: none;
            position: absolute;
            left: 55%;
            
            top: 10px;
            display: block;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
            

            li{
                margin-top: 20px;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }

            img{
                margin-right: 5px;
                width: 10px;
                height: 10px;
            }
        }
        .buttonpricing2{
            border-radius: 23px;
            background-color: rgba(7, 172, 230, 1);
            height: 50px;
            width: 150px;
            text-align: center;
            margin-bottom: -25px;
            margin-left: 30%;
            
            .begin2{
                padding-top: 15px;
                color:  rgba(255, 255, 255, 1);
            }
        }
    }

    .pricing3{

        display: inline-block;
        width: 80%;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(85, 223, 180, 1);
        border-radius: 18px;
        margin-left: 10%;
        position: relative;
        margin-bottom: 70px;

        .textpricing3{
            font-family: "Raleway",serif;
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            color: rgba(19, 37, 59, 1);
            margin-left: 50px;
            margin-top: 100px;
        }

        .textpricing32{
            font-family: "Open Sans",serif;
            font-weight: 300;
            font-size: 30px;
            line-height: 64px;
            color: rgba(85, 223, 180, 1);
            margin-left: 50px;
            margin-top: -20px;
        }

        .textpricing33{
            font-family: "Raleway",serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 14.09px;
            color: rgba(19, 37, 59, 1);
            margin-left: 50px;
            margin-top: -30px;
            padding-bottom: 50px;
        }

        ul{
            list-style-type: none;
            position: absolute;
            left: 55%;
            top: 10px;
            display: block;
            margin: 0;
            padding: 0;
            

            li{
                margin-top: 20px;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }

            img{
                margin-right: 5px;
                width: 10px;
                height: 10px;
            }

        }

        

        .buttonpricing3{
            border-radius: 23px;
            background-color: rgba(85, 223, 180, 1);
            height: 50px;
            width: 150px;
            text-align: center;
            margin-bottom: -25px;
            margin-left: 30%;
            
            .begin3{
                padding-top: 15px;
                color:  rgba(255, 255, 255, 1);
            }
        }
    }

    
}

@media  (min-width:1200px){

    .pricing{
        display: block;
        margin-left: 0%;

        h1{
            position: relative;
        }

        .pricing0{
            display: flex;
            width: 90%;
            justify-content: center;
            margin-left: 5%;
            gap: 50px;
            align-items: center;
            

        .pricing1{
            display:flex;
            flex-direction: column;
            display:flex;
            flex-direction: column;
            width: 30%;
            margin: 0;
            padding: 0;
            text-align: center;
            align-items: center;
            
            align-items: center;

            .pricing11{
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                margin-left: 0;
                margin: 0;
                left: 0;
                top: 0;
                display: flex;
                text-align: center;
                flex-direction: column;
                padding: 0;
                

                .textpricing1{
                    margin-top: 20px;
                    margin-left: 0;
                    font-size: 20px;
                }
                .textpricing12{
                    margin-left: 0;
                    margin-left: 0;
                    font-size: 46px;
                }

                .textpricing12{
                    margin-left: 0;
                }
                
            }

            .pricing12{
                width: 100%;
                display: flex;
                justify-content: center;

                ul{
                    margin-left: 0px;
                    left: 0;
                    li{
                        margin-left: 0px;
                        left: 0;
                    }
                }
            }

            
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .buttonpricing1{
                
                margin-left: 0;
                margin-top: 35px;

                .begin1{
                    padding-top: 0px;
                }
                margin-left: 0;
                .begin1{
                    padding-top: 0;
                }
            }

            ul{
                position: relative;
                top: 0;
                left: 0;
                
            }
        }

        .pricing2{
            display:flex;
            flex-direction: column;
            display:flex;
            flex-direction: column;
            width: 30%;
            margin: 0;
            padding: 0;
            text-align: center;
            align-items: center;
            align-items: center;

            .pricing21{
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                margin-left: 0;
                margin: 0;
                left: 0;
                top: 0;
                display: flex;
                text-align: center;
                flex-direction: column;
                padding: 0;
                
                .textpricing2{
                    margin-top: 20px;
                    margin-left: 0;
                    font-size: 20px;
                }
                .textpricing22{
                    margin-left: 0;
                    font-size: 46px;
                }
                .textpricing23{
                    margin-left: 0;
                    margin-left: 0;
                }
                
            }

            .pricing22{
                width: 100%;
                display: flex;
                justify-content: center;

                ul{
                    margin-left: 0px;
                    left: 0;
                    li{
                        margin-left: 0px;
                        left: 0;
                    }
                }
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .buttonpricing2{
                
                margin-left: 0;
                margin-top: 35px;

                .begin2{
                    padding-top: 0px;
                }
                margin-left: 0;
                .begin2{
                    padding-top: 0;
                }
            }

            ul{
                position: relative;
                top: 0;
                
                left: 0;
                
            }
        }

        .pricing3{
            display:flex;
            flex-direction: column;
            display:flex;
            flex-direction: column;
            width: 30%;
            margin: 0;
            padding: 0;
            text-align: center;
            align-items: center;
            align-items: center;

            .pricing31{
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                margin-left: 0;
                margin: 0;
                left: 0;
                top: 0;
                display: flex;
                text-align: center;
                flex-direction: column;
                padding: 0;
                
                .textpricing3{
                    margin-top: 20px;
                    margin-left: 0;
                    font-size: 20px;
                }
                .textpricing32{
                    margin-left: 0;
                    font-size: 46px;
                }
                .textpricing33{
                    margin-left: 0;
                }
                
            }

            .pricing32{
                width: 100%;
                display: flex;
                justify-content: center;

                ul{
                    margin-left: 0px;
                    left: 0;
                    li{
                        margin-left: 0px;
                        left: 0;
                    }
                }
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .buttonpricing3{
                margin-left: 0;
                margin-top: 35px;

                .begin3{
                    padding-top: 0px;
                }
                margin-left: 0;
                .begin3{
                    padding-top: 0;
                }
            }

            ul{
                position: relative;
                top: 0;
                
                left: 0;
                
            }
        }
    }
    }

    .pricing1:hover{
        transform: scale(1.05);
        transition: all ease-in 0.3s;
        box-shadow: 5px 10px 27px 0 rgba(251, 59, 100, 1);
    }

    .pricing2:hover{
        transform: scale(1.05);
        transition: all ease-in 0.3s;
        box-shadow: 5px 10px 27px 0 rgba(7, 172, 230, 0.29);
    }

    .pricing3:hover{
        transform: scale(1.05);
        transition: all ease-in 0.3s;
        box-shadow: 5px 10px 27px 0 rgba(85, 223, 180, 1);
    }
