.header {
  display: inline-block;
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}
.header h1 {
  color: #08A6E4;
  font-family: "Raleway";
  height: 37px;
  margin-top: 17px;
  margin-left: 25px;
  width: 206px;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}
.header .menu {
  width: 20px;
  height: 12px;
  top: 29px;
  left: 90%;
  position: absolute;
  display: block;
}
.header #crossMenu {
  width: 12px;
  height: 12px;
  top: 29px;
  left: 90%;
  position: absolute;
  display: none;
}
.header .menuDesplegable {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.29);
}
.header .menuDesplegable ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}
.header .menuDesplegable ul li {
  margin-right: 40px;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: rgb(165, 165, 165);
}
.header .menuDesplegable ul li a {
  text-decoration: none;
}
.header .menuDesplegable ul li a:visited {
  color: black;
}
.header .menuDesplegable ul .headerlist1 {
  color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .menu {
    display: none;
  }
  .header .menuDesplegable {
    display: flex;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .header .menuDesplegable ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
  }
  .header .menuDesplegable ul li {
    margin-right: 40px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: rgb(165, 165, 165);
  }
  .header .menuDesplegable ul .headerlist1 {
    color: rgb(0, 0, 0);
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body #scrollDiv {
  width: 100%;
  height: 10px;
  background-color: antiquewhite;
  position: sticky;
  top: 0px;
  z-index: 1;
}
body #scrollDiv #scrollBar {
  background-color: rgb(8, 166, 228);
  height: 10px;
  position: sticky;
  top: 0px;
  width: 0%;
}
body #toTop {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 80%;
  left: 92%;
  z-index: 1;
  margin: 0;
  padding: 0;
}
body #toTop img {
  height: 100%;
  width: 100%;
}
body #modal {
  flex-direction: column;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 400px;
  position: fixed;
  align-items: center;
  text-align: center;
}
body #modal #crossModal {
  cursor: pointer;
  position: relative;
  left: 40%;
  height: 25px;
}
body #modal #newsletterForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
body #modal #newsletterForm #emailPopUpId {
  border: none;
  border-bottom: 1px solid grey;
}
body #modal #newsletterForm #submitNewsletter {
  border: none;
  background-color: rgb(8, 166, 228);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  color: rgb(255, 255, 255);
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
  border-color: rgb(8, 166, 228);
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}
body #modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
body #slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
  align-items: center;
}
body #slider #left {
  position: relative;
  left: 20%;
  cursor: pointer;
}
body #slider #left img {
  height: 50px;
  width: 50px;
}
body #slider #right {
  position: relative;
  right: 20%;
  cursor: pointer;
}
body #slider #right img {
  height: 50px;
  width: 50px;
}
body #slider .imgSlider {
  height: 250px;
  width: 100%;
}
body #slider #imgCircles {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-top: 20px;
}
body #slider #imgCircles .imgCircle {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: rgb(100, 150, 150);
}

@media (min-width: 1200px) {
  #slider .imgSlider {
    height: 300px;
    width: 30rem;
  }
}
@font-face {
  font-family: "Raleway", serif;
  src: url("https://fonts.google.com/specimen/Raleway");
}
.opening {
  display: block;
  height: 213px;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.opening h1 {
  color: rgb(0, 0, 0);
  font-family: "Raleway";
  line-height: 41.09px;
  font-size: 35px;
  font-weight: 400;
  margin-left: 0%;
}
.opening p {
  font-family: "Open Sans", serif;
  height: 57px;
}
.opening input {
  font-family: "Open Sans", serif;
  font-weight: 700;
  size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 166, 228);
  width: 310px;
  height: 67px;
  border-radius: 40px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  border: none;
}

@media (min-width: 1200px) {
  .opening h1 {
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
}
.background1 {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 34px;
  position: relative;
}

.statsh1 {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  display: block;
  color: rgb(0, 0, 0);
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.stats {
  display: block;
  width: 100%;
}
.stats .stats1 {
  width: 100%;
  height: 140px;
  text-align: center;
  margin-bottom: 45px;
}
.stats .stats1 .number1 {
  width: 100%;
  height: 24px;
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 50px;
}
.stats .stats1 .text1 {
  width: 100%;
  height: 20px;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgb(165, 165, 165);
  position: relative;
  bottom: 50px;
}
.stats .stats1 .ellipse1 {
  width: 62.71px;
  height: 62.71px;
  background-color: rgb(251, 59, 100);
  border-radius: 50%;
  margin-left: calc(50% - 31px);
}
.stats .stats1 .img1 {
  position: relative;
  left: 25px;
  bottom: 60px;
}
.stats .stats2 {
  width: 100%;
  height: 167px;
  text-align: center;
}
.stats .stats2 .number2 {
  width: 100%;
  height: 24px;
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 50px;
}
.stats .stats2 .text2 {
  width: 100%;
  height: 48px;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(165, 165, 165);
  position: relative;
  bottom: 50px;
}
.stats .stats2 .ellipse2 {
  width: 62.71px;
  height: 62.71px;
  background-color: rgb(8, 166, 228);
  border-radius: 50%;
  margin-left: calc(50% - 31px);
}
.stats .stats2 .img2 {
  position: relative;
  left: 25px;
  bottom: 50px;
}
.stats .stats3 {
  width: 100%;
  height: 168px;
  text-align: center;
}
.stats .stats3 .number3 {
  width: 100%;
  height: 24px;
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 50px;
}
.stats .stats3 .text3 {
  width: 100%;
  height: 48px;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: rgb(165, 165, 165);
  position: relative;
  bottom: 50px;
}
.stats .stats3 .ellipse3 {
  width: 62.71px;
  height: 62.71px;
  background-color: rgb(251, 59, 100);
  border-radius: 50%;
  background-color: rgb(85, 223, 180);
  margin-left: calc(50% - 31px);
}
.stats .stats3 .img3 {
  position: relative;
  left: 25px;
  bottom: 55px;
}

@media (min-width: 1200px) {
  .stats {
    margin-top: 60px;
    display: flex;
  }
}
.info {
  background-color: rgb(247, 247, 247);
  display: inline-block;
}
.info .info1 {
  display: block;
  border-radius: 5px;
  border: 1px grey;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}
.info .info1 hr {
  display: none;
}
.info .info1 .img4 {
  position: relative;
  left: calc(50% - 100px);
}
.info .info1 .textinfo1 {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  color: rgb(0, 0, 0);
  height: 72px;
  width: 100%;
  margin-left: 10%;
}
.info .info1 .boxinfo1 {
  width: 90.12px;
  height: 90.12px;
  transform: rotate(45deg);
  border-radius: 41px;
  background-color: rgb(251, 59, 100);
  position: relative;
  left: 55%;
  top: 60px;
}
.info .info1 .textinfo12 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  size: 14px;
  line-height: 21px;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 40px;
}
.info .info2 {
  display: block;
  border-radius: 5px;
  border: 1px grey;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin-left: 10%;
}
.info .info2 .img5 {
  position: relative;
  left: 33%;
  bottom: 80px;
}
.info .info2 .boxinfo2 {
  width: 131.88px;
  height: 131.7px;
  border-radius: 50%;
  background-color: rgb(8, 166, 228);
  position: relative;
  left: calc(50% - 65px);
  top: 50px;
}
.info .info2 .textinfo2 {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  color: rgb(0, 0, 0);
  height: 72px;
  margin-left: 10%;
  width: 60%;
}
.info .info2 .textinfo22 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  size: 14px;
  line-height: 19px;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 40px;
}
.info .info2 hr {
  display: none;
}
.info .info3 {
  display: block;
  border-radius: 5px;
  border: 1px grey;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
}
.info .info3 .boxinfo3 {
  background-color: rgb(85, 223, 180);
  border: 1px solid rgb(232, 233, 237);
  border-radius: 5px;
}
.info .info3 .boxinfo3 .img6 {
  width: 80%;
  height: 70%;
  margin-top: 40px;
}
.info .info3 .textinfo3 {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  color: rgb(0, 0, 0);
  width: 60%;
  margin-left: 10%;
  padding-top: 10%;
}
.info .info3 .textinfo32 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  size: 16px;
  line-height: 21.79px;
  margin-left: 10%;
}
.info .info3 hr {
  display: none;
}

@media (min-width: 1200px) {
  .info .info1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 50px;
  }
  .info .info1 .info11 {
    width: 50%;
  }
  .info .info1 .info12 {
    width: 50%;
  }
  .info .info1 .info12 hr {
    border: 4px solid rgb(251, 59, 100);
    width: 60%;
    position: relative;
    top: -80px;
    left: -45px;
    display: block;
  }
  .info .info1 .textinfo1 {
    padding-top: 70px;
  }
  .info .info1 .img4 {
    width: 386px;
    height: 219px;
    position: relative;
    bottom: 50px;
    left: 20px;
  }
  .info .info1 .textinfo12 {
    position: relative;
    bottom: 50px;
  }
  .info .info1 .boxinfo1 {
    width: 180px;
    height: 180px;
    position: relative;
    top: 80px;
    left: 240px;
  }
  .info .info2 {
    display: grid;
    height: 400px;
  }
  .info .info2 .boxinfo2 {
    position: relative;
    left: 50px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
  }
  .info .info2 .textinfo2 {
    position: relative;
    left: 350px;
    top: -450px;
  }
  .info .info2 .textinfo22 {
    position: relative;
    left: 360px;
    top: -500px;
    width: 50%;
  }
  .info .info2 .img5 {
    position: relative;
    left: 50px;
    top: -200px;
    height: 250px;
  }
  .info .info2 hr {
    border: 4px solid rgb(8, 166, 228);
    width: 400px;
    position: relative;
    top: -520px;
    left: 180px;
    left: 180px;
    display: block;
  }
  .info .info3 {
    display: flex;
    margin-top: 30px;
    gap: 50px;
    justify-content: space-between;
    height: 352px;
  }
  .info .info3 #divInfo3 {
    width: 50%;
  }
  .info .info3 #divInfo3 hr {
    border: 4px solid rgb(85, 223, 180);
    width: 60%;
    position: relative;
    left: -10%;
    top: 40px;
    display: block;
  }
  .info .info3 .info32 {
    width: 40%;
    border-left: 80px rgb(247, 247, 247) solid;
  }
  .info .info3 .textinfo3 {
    position: relative;
    width: 70%;
  }
  .info .info3 .textinfo32 {
    position: relative;
  }
  .info .info3 .boxinfo3 {
    position: relative;
    display: flex;
    height: 100%;
    margin-left: 0;
  }
  .info .info3 .boxinfo3 .boxinfo3 {
    display: flex;
    position: relative;
    width: 100%;
    height: 350px;
    align-items: center;
    align-items: center;
    justify-content: center;
  }
  .info .info3 .boxinfo3 .boxinfo3 .img6 {
    position: relative;
    height: 100%;
    margin-top: 20px;
  }
}
.pricing .h1pricing {
  text-align: center;
}
.pricing .h1pricing h1 {
  font-family: "Raleway", serif;
  font-weight: 400;
  size: 36px;
  line-height: 42.26px;
  color: rgb(0, 0, 0);
}
.pricing .h1pricing select {
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid rgb(7, 172, 230);
  margin-bottom: 20px;
}
.pricing .pricing1 {
  display: inline-block;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(251, 59, 100);
  border-radius: 18px;
  margin-left: 10%;
  position: relative;
  margin-bottom: 70px;
}
.pricing .pricing1 .textpricing1 {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(19, 37, 59);
  position: relative;
  margin-left: 50px;
  margin-top: 80px;
}
.pricing .pricing1 .textpricing12 {
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: rgb(251, 59, 100);
  margin-left: 50px;
  margin-top: -20px;
}
.pricing .pricing1 .textpricing13 {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.09px;
  color: rgb(19, 37, 59);
  margin-left: 50px;
  margin-top: -30px;
  padding-bottom: 50px;
  visibility: hidden;
}
.pricing .pricing1 ul {
  list-style-type: none;
  position: absolute;
  left: 55%;
  top: 10px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pricing .pricing1 ul li {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pricing .pricing1 ul img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
.pricing .pricing1 .buttonpricing1 {
  border-radius: 23px;
  background-color: rgb(235, 71, 110);
  height: 50px;
  width: 150px;
  text-align: center;
  margin-bottom: -25px;
  margin-left: 30%;
}
.pricing .pricing1 .buttonpricing1 .begin1 {
  padding-top: 15px;
  color: rgb(255, 255, 255);
}
.pricing .pricing2 {
  display: inline-block;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(7, 172, 230);
  border-radius: 18px;
  margin-left: 10%;
  position: relative;
  margin-bottom: 70px;
}
.pricing .pricing2 .textpricing2 {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(19, 37, 59);
  margin-left: 50px;
  margin-top: 100px;
}
.pricing .pricing2 .textpricing22 {
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: rgb(7, 172, 230);
  margin-left: 50px;
  margin-top: -20px;
}
.pricing .pricing2 .textpricing23 {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.09px;
  color: rgb(19, 37, 59);
  margin-left: 50px;
  margin-top: -30px;
  padding-bottom: 50px;
}
.pricing .pricing2 ul {
  list-style-type: none;
  position: absolute;
  left: 55%;
  top: 10px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pricing .pricing2 ul li {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pricing .pricing2 ul img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
.pricing .pricing2 .buttonpricing2 {
  border-radius: 23px;
  background-color: rgb(7, 172, 230);
  height: 50px;
  width: 150px;
  text-align: center;
  margin-bottom: -25px;
  margin-left: 30%;
}
.pricing .pricing2 .buttonpricing2 .begin2 {
  padding-top: 15px;
  color: rgb(255, 255, 255);
}
.pricing .pricing3 {
  display: inline-block;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(85, 223, 180);
  border-radius: 18px;
  margin-left: 10%;
  position: relative;
  margin-bottom: 70px;
}
.pricing .pricing3 .textpricing3 {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(19, 37, 59);
  margin-left: 50px;
  margin-top: 100px;
}
.pricing .pricing3 .textpricing32 {
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: rgb(85, 223, 180);
  margin-left: 50px;
  margin-top: -20px;
}
.pricing .pricing3 .textpricing33 {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.09px;
  color: rgb(19, 37, 59);
  margin-left: 50px;
  margin-top: -30px;
  padding-bottom: 50px;
}
.pricing .pricing3 ul {
  list-style-type: none;
  position: absolute;
  left: 55%;
  top: 10px;
  display: block;
  margin: 0;
  padding: 0;
}
.pricing .pricing3 ul li {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pricing .pricing3 ul img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
.pricing .pricing3 .buttonpricing3 {
  border-radius: 23px;
  background-color: rgb(85, 223, 180);
  height: 50px;
  width: 150px;
  text-align: center;
  margin-bottom: -25px;
  margin-left: 30%;
}
.pricing .pricing3 .buttonpricing3 .begin3 {
  padding-top: 15px;
  color: rgb(255, 255, 255);
}

@media (min-width: 1200px) {
  .pricing {
    display: block;
    margin-left: 0%;
  }
  .pricing h1 {
    position: relative;
  }
  .pricing .pricing0 {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    gap: 50px;
    align-items: center;
  }
  .pricing .pricing0 .pricing1 {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing0 .pricing1 .pricing11 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin: 0;
    left: 0;
    top: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0;
  }
  .pricing .pricing0 .pricing1 .pricing11 .textpricing1 {
    margin-top: 20px;
    margin-left: 0;
  }
  .pricing .pricing0 .pricing1 .pricing11 .textpricing12 {
    margin-left: 0;
    margin-left: 0;
  }
  .pricing .pricing0 .pricing1 .pricing11 .textpricing12 {
    margin-left: 0;
  }
  .pricing .pricing0 .pricing1 .pricing12 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pricing .pricing0 .pricing1 .pricing12 ul {
    margin-left: 0px;
    left: 0;
  }
  .pricing .pricing0 .pricing1 .pricing12 ul li {
    margin-left: 0px;
    left: 0;
  }
  .pricing .pricing0 .buttonpricing1 {
    margin-left: 0;
    margin-top: 35px;
    margin-left: 0;
  }
  .pricing .pricing0 .buttonpricing1 .begin1 {
    padding-top: 0px;
  }
  .pricing .pricing0 .buttonpricing1 .begin1 {
    padding-top: 0;
  }
  .pricing .pricing0 ul {
    position: relative;
    top: 0;
    left: 0;
  }
  .pricing .pricing2 {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    align-items: center;
  }
  .pricing .pricing2 .pricing21 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin: 0;
    left: 0;
    top: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0;
  }
  .pricing .pricing2 .pricing21 .textpricing2 {
    margin-top: 20px;
    margin-left: 0;
  }
  .pricing .pricing2 .pricing21 .textpricing22 {
    margin-left: 0;
  }
  .pricing .pricing2 .pricing21 .textpricing23 {
    margin-left: 0;
    margin-left: 0;
  }
  .pricing .pricing2 .pricing21 .textpricing22 {
    margin-left: 0;
  }
  .pricing .pricing2 .pricing21 .textpricing23 {
    margin-left: 0;
  }
  .pricing .pricing2 .pricing22 {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing2 .pricing22 ul {
    margin-left: 0px;
    left: 0;
  }
  .pricing .pricing2 .pricing22 ul li {
    margin-left: 0px;
    left: 0;
  }
  .pricing .pricing2 .buttonpricing2 {
    margin-left: 0;
    margin-top: 35px;
    margin-left: 0;
  }
  .pricing .pricing2 .buttonpricing2 .begin2 {
    padding-top: 0px;
  }
  .pricing .pricing2 .buttonpricing2 .begin2 {
    padding-top: 0;
  }
  .pricing .pricing2 ul {
    position: relative;
    top: 0;
    left: 0;
  }
  .pricing .pricing3 {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    align-items: center;
  }
  .pricing .pricing3 .pricing31 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin: 0;
    left: 0;
    top: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0;
  }
  .pricing .pricing3 .pricing31 .textpricing3 {
    margin-top: 20px;
    margin-left: 0;
  }
  .pricing .pricing3 .pricing31 .textpricing32 {
    margin-left: 0;
  }
  .pricing .pricing3 .pricing31 .textpricing33 {
    margin-left: 0;
    margin-left: 0;
  }
  .pricing .pricing3 .pricing31 .textpricing32 {
    margin-left: 0;
  }
  .pricing .pricing3 .pricing31 .textpricing33 {
    margin-left: 0;
  }
  .pricing .pricing3 .pricing32 {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing3 .pricing32 ul {
    margin-left: 0px;
    left: 0;
  }
  .pricing .pricing3 .pricing32 ul li {
    margin-left: 0px;
    left: 0;
  }
  .pricing .pricing3 .buttonpricing3 {
    margin-left: 0;
    margin-top: 35px;
    margin-left: 0;
  }
  .pricing .pricing3 .buttonpricing3 .begin3 {
    padding-top: 0px;
  }
  .pricing .pricing3 .buttonpricing3 .begin3 {
    padding-top: 0;
  }
  .pricing .pricing3 ul {
    position: relative;
    top: 0;
    left: 0;
  }
}
.pricing1:hover {
  transform: scale(1.05);
  transition: all ease-in 0.3s;
  box-shadow: 5px 10px 27px 0 rgb(251, 59, 100);
}

.pricing2:hover {
  transform: scale(1.05);
  transition: all ease-in 0.3s;
  box-shadow: 5px 10px 27px 0 rgba(7, 172, 230, 0.29);
}

.pricing3:hover {
  transform: scale(1.05);
  transition: all ease-in 0.3s;
  box-shadow: 5px 10px 27px 0 rgb(85, 223, 180);
}

.contact .contact1 {
  margin-left: 20px;
}
.contact .contact1 h1 {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46.96px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
.contact .contact1 p {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
.contact .contact1 .contact2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact .contact1 .contact2 p {
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgb(165, 165, 165);
  margin-left: 10px;
}
.contact .contact1 .contact2 p img {
  margin-right: 15px;
  margin-bottom: -8px;
}
.contact .contact3 {
  width: 80%;
  margin-left: 20px;
}
.contact .contact3 .name, .contact .contact3 .email {
  height: 30px;
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14.98px;
  letter-spacing: 3.28px;
  color: rgb(8, 166, 228);
  margin-left: 10px;
}
.contact .contact3 input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
}
.contact .contact3 .contact4 {
  width: 100%;
  display: inline-block;
}
.contact .contact3 .contact4 input {
  accent-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(149, 152, 154);
  width: 30px;
  margin-top: 20px;
}
.contact .contact3 .contact4 .consent {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.43px;
  color: rgb(112, 112, 112);
  position: relative;
  left: 50px;
  top: -30px;
  width: 80%;
}
.contact .contact5 {
  width: 100%;
}
.contact .contact5 #Send {
  background-color: rgb(8, 166, 228);
  width: 226px;
  height: 57px;
  border-radius: 35px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  color: rgb(255, 255, 255);
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
  position: relative;
  left: 40%;
  border-color: rgb(8, 166, 228);
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .contact {
    width: 80%;
    margin-left: 10%;
    display: flex;
    margin-top: 100px;
  }
  .contact .contact1 {
    width: 50%;
    text-align: start;
  }
  .contact .contact1 .contact2 {
    display: flex;
  }
  .contact .contact1 .contact2 .emails, .contact .contact1 .contact2 .phone {
    position: relative;
  }
  .contact .contact3 {
    width: 50%;
  }
  .contact .contact3 #Send {
    left: 52%;
  }
}
.footer {
  width: 100%;
  display: block;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(247, 247, 247);
}
.footer h1 {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: rgb(8, 166, 228);
  position: relative;
  top: 18px;
  margin-left: 40px;
}
.footer p {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14.98px;
  color: rgb(165, 165, 165);
  position: relative;
  margin-left: 40px;
}
.footer img {
  position: relative;
  left: 75%;
  top: -40px;
  padding-left: 20px;
}/*# sourceMappingURL=styles.css.map */